body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

a {
  color: #0070f3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color:steelblue !important;   /* blue */
  font-size: 40px !important;
  top: 45% !important; 
  display: none !important;/* bigger arrows */
}

/* Change dot color */
.slick-dots li button:before {
  font-size: 12px !important;   /* dot size */
  color: #bbb !important;       /* inactive dot color */
}

.slick-dots li.slick-active button:before {
  color: burlywood !important;    /* active dot color */
}

/* Adjust spacing / line height around dots */
.slick-dots {
  bottom: -30px !important;     /* move dots down */
  line-height: 1.8 !important;  /* increase spacing */
}