.main {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.projectsSection {
  margin-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
